<!doctype html>
<html>
  <head>
    <title>Gophlix</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head><div id="container">
  <body><h1>Gophlix</h1>

    <%= yield %>
  </body>
</div>
</html>