<!doctype html>
<html>
  <head>
    <title>Gophlix</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  </head>
  <body>
    <div id="container">
      <h1>GOPHLIX</h1>

      <%= yield %>

    </div>
  </body>
</html>
