<!-- <!DOCTYPE html>
<meta charset="utf-8">
<title>Force-Directed Graph</title> -->
<style>


</style>
<body>
</body>

<!-- May want to make this local to improve performance.  OnLoad? -->
<script src="d3.js"></script>

<script>

    // $(document).ready(function(e){
    //   e.preventDefault()
    //   $.ajax({
    //     type: "get",
    //     url: "/my_movie_map",
    //     data: $(this).serialize()
    //   }).done(function(json_data){
    //     console.log(persons_data)
    //     var persons_data = json_data
    //   })
    // })


</script>
