<!DOCTYPE html>
<html>
<head>GOPHLIX SURVEY</head>
<body>
  <div id="container">
    <div id="greeting">
      <p>HEY G_SNAKES!</p>
      <p>we are GOPHLIX</p>
      <p>and we would like you to take a short survey.</p>
      <p>pleaze & thanxyew</p>
    </div>
    <div id="sign-in">
      <form action="/sign_in" method="post">
        <input type="text" name="name" placeholder="name">
        <button>submit</button>
      </form>
    </div>
    <div id="survey">
      <p>rate from 1-5 (5 = best)</p>
      <p>
        <% Movie.all.each do |movie| %>
          <%= movie.title %>
          <form action="/rate_movie" method="post">
            <input type="number" name=<%= movie.id %> value="movie_rating">
        <% end %>
            <button>submit</button>
          </form>
      </p>
    </div>
  </div>
</body>
</html>