<p>Welcome!</p>

 <%= "You are logged in as #{User.find(session[:name]).name}, happy gaming" %>

</br></br></br>
<p> Click to rate games </p>
<form action="/rate_games_page" method="post">
  <input type="submit" value="Rate">
</form>

</br>

<p>Click to see similarity to other users</p>
<form action="/compare_users" method="post">
  <input type="submit" value="Compare">
</form>

</br>

<p>Click to see predicted game rating</p>
<form action="/predict_ratings" method="post">
  <select name="game_dropdown">
    <% Game.all.each do |game|  %>
      <option value="<%= game.title%>"><%=game.title %></option>
    <% end %>
  </select>
  <input type="submit" value="Predict">
</form>

</br></br></br>

<form action="/sign_out" method="post">
  <input type="submit" value="Sign Out">
</form>
