<!DOCTYPE html>
<html>
  <head>
    <title>Gophlix</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>

  <body>
    <div id="container">
      <div id="name-picker">
        Pick your name:
        <form action="/welcome" method="POST">
          <select name='gsnake_id'>
            <option selected></option>
            <% Gsnake.all.each do |gsnake| %>
              <option name=<%= gsnake.id %> value=<%= gsnake.id %>><%= gsnake.name %></option>
            <% end %>
          </select>
          <button>submit</button>
        </form>
      </div>
    </div>
  </body>

  <script>
   $(document).ready(function(){
     $("form").on("submit", function(e){
       e.preventDefault()

       $.ajax({
         type: "POST",
         url: "/welcome",
         data: $(this).serialize()
       }).done(function(json_data){
         persons_data = json_data
         update()
       }).fail(function(){
         console.log("womp")
       })
     })
   })
  </script>
  <script src="javascripts/d3.js"></script>
  <script src="javascripts/map.js"></script>

</html>
