#container {
  width: 400px;
  margin: 15px auto;
  background-color: white;
}


h1 {
  text-align: center;
  color: gray;
}


label
{
width: 6em;
float: left;
text-align: right;
margin-right: 1em;
display: block
}

.submit input
{
margin-left: 4.5em;
}
